<div class="floating-form text-center">
    <br><input type="text" style="margin-right: 6px;" name="seach" id="search" placeholder="Search repository">
    <button  (click)= searchRepo() class = "btn btn-dark" type="submit">Search</button>
    </div>
    <div class="container">
       <div class="row">
         <div class="col-md-10">
          
  
                  <div *ngFor = "let repo of reposit">
                     <div class="card">
                        <div class="card-body">
                           <div class="col-md-10">
                     <h2><b>{{repo.name}}</b></h2> 
                     <p>{{repo.description}}</p>
                     <p>
                      Created on: {{repo.created_at|date}}
                  </p>
                     <p><a href="{{repo.html_url}}" target="_blank" class="btn btn-warning btn-sm"> View Repo</a></p>
               </div> 
             </div>
            
          </div>

       </div>
    </div>
    </div>
    
        

        
        
    </div>
