<div  class="floating-form text-center">
    <br><input [(ngModel)] = 'username' type="text" style="margin-right: 6px;" name="seach" id="search" placeholder="Search user">
    <button (click)="searchUser()" class="btn btn-dark" type="submit">Search</button>

<div *ngIf='user' class="outcome">

    <h2><b>
            {{user.login|uppercase}}


        </b></h2>

    <p>
        {{user.bio}}

    </p>
    <P>
        Followers: <b>{{user.followers}}</b>
    </P>
    <P>
        Following: <b>{{user.following}}</b>
    </P>

    <img class='img-fluid w-25' src="{{user.avatar_url}}"><br><br>
    <p><a href="{{user.html_url}}" target="_blank" class="btn btn-outline-warning btn-sm">View Profile </a></p>
    </div>